<!DOCTYPE html>
<div>
  
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sabor Criollo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="menu" class="nav-link">Menu</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mantenimientos
            </a>            
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="crudSocio">Socio</a>
              <a class="dropdown-item" routerLink="crudPlatillo">Platillo</a>
              <a class="dropdown-item" routerLink="crudMesa">Mesa</a>
              <a class="dropdown-item" routerLink="crudUsuario">Usuario</a>
            </div>
          </li>
          <li class="nav-item">
            <a routerLink="boleta" class="nav-link">Boleta</a>
          </li>
        </ul>      
      </div>
    </nav>
    <!-- <div class="slider-relative">
      <div class="slider-block">
        <div class="slider">
          <ul class="items">
            <li><img src="assets/images/slide.jpg" alt=""></li>
            <li><img src="assets/images/slide1.jpg" alt=""></li>
            <li class="mb0"><img src="assets/images/slide2.jpg" alt=""></li>
          </ul>
        </div>
      </div>
    </div> -->
    

    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>

</div>
